* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    min-height: 124px;
    display: flex;
    align-items: center;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    outline: none;
    height: 40px;
    cursor: pointer;
}


.btn-primary {
    border-radius: 2px;
    background: #1890FF;
    border: 1px solid #1890FF;
}

.btn-white {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn-outline {
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    color: #595959;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url(./images/banners/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
}

.banner-item-title {
    font-size: 39px;
    font-weight: 700;
    color: #302C34;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item-subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #302C34;
    max-width: 50%;
    margin: 0;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.products-header-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
}

.products-header-search {
    background: #FFF;
    min-width: 306px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    padding: 5px 12px;
}

.products-header-search:focus {
    outline: none;
    border: none;
}

.products-header-search::placeholder {
    color: #BFBFBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.products-wrapper {
    margin-top: 44px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 24px;
}

.products-card {
    width: calc((100% - 48px)/3);
    border-radius: 7px;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.products-card__image {
    width: 100%;
}

.products-card__image img {
    width: 100%;
    object-fit: cover;
}

.products-card__description {
    padding: 20px 24px 34px 24px;
}

.products-card__description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card__description-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #000;
    margin: 0;
}

.products-card__description--name {
    margin: 0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.products-card__description--text {
    margin: 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(140, 140, 140, 1);
}

.products-card__description-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 29px;
}

.products-card__description-controls--price {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.products-card__description-badge {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 2px;
    background: #262626;
    padding: 1px 8px;
}

.products-card__description-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 25px;
}

.products-card__description-rating-star {
    width: 14.69px;
    height: 14.08px;
    top: 7.92px;
}

.products-card__description-rating {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(255, 193, 7, 1);
}

.products-card__description-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(140, 140, 140, 1);
}

.products-card__description-category {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(140, 140, 140, 1);
    position: relative;
}

.products-card__description-category::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(140, 140, 140, 1);
    position: absolute;
    left: -14px;
    top: 12px;
}

.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-nav ul a {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #595959;
    text-decoration: none;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.cart-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-modal {
    width: 100%;
    max-width: 780px;
    padding: 40px 45px;
    background-color: #FFF;
}

.cart-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;
}

.cart-modal__header--title {
    width: 143px;
    height: 42px;
    font-size: 36px;
    font-weight: 700;
}

.cart-modal__header--close {
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.cart-item:not(:last-child) {
    padding-bottom: 8px;
    margin-bottom: 17px;
    border-bottom: 1px solid #D9D9D9;
}

.cart-item__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.cart-item__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.cart-item__controls button {
    color: rgba(64, 169, 255, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border: 1px solid rgba(64, 169, 255, 1);
    width: Hug (36px)px;
    height: Hug (32px)px;
    padding: 5px 16px 5px 16px;
    gap: 4px;
    border-radius: 2px;
}

.cart-item__controls--price {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);
    margin-right: 47px;
}

.cart-item__controls--count {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    margin-right: 15px;
    margin-left: 15px;
}

.cart-modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.cart-modal__footer--price {
    background: rgba(38, 38, 38, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(250, 250, 250, 1);
    padding: 15px 20px;
}

.cart-modal__footer--controls {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media (max-width: 991px) {
    .banner-item-title {
        max-width: 100%;
    }

    .banner-item-subtitle {
        max-width: 100%;
    }

    .products-card {
        width: calc((100% - 48px)/2);
    }
}

@media (max-width: 768px) {
    .products-card {
        width: 100%;
    }
}